html {
    background: none;
}

body {
  background-image: url("../Images/WindMills.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}

.intro {
	padding: 0px 56px !important;	
}

button {
font-size: 18px;
border: 2px solid #AD235E;
border-radius: 100px;
width: 150px;
height: 150px;
}

#logo{
	position:absolute;
	left: 815px;
    top: 200px;
}

#logo img{
    width: 50px;
    height: 50px;    
	float: left;
}

#logoTitle{
	font-size: 50px;
	color: #00CCFF;
}

#GoogleExchange{
	background-image: url("../Images/googleplus.png");
	background-color: #D64A29;
	padding-left: 10px;
	background-repeat: no-repeat;
	background-size: 50px;
}

#GoogleExchange:hover{
	background-color: #C14325;
}

#FacebookExchange{
	background-image: url("../Images/facebook.png");
	background-color: #3B5595;
	padding-left: 10px;
	background-repeat: no-repeat;
	background-size: 50px;
}

#FacebookExchange:hover{
	background-color: #354C86
}

#SignUpWithLogonEmailExchange{
	background-image: url("../Images/ms.png");
}

#SignUpWithLogonEmailExchange:hover{
	background-image: url("../Images/ms_mouseOver.png");
}
.accountButton {
  width: 250px;
  border: none;
  height: 46px;
  font-size: larger;
  color: whitesmoke;  
} 

.accountButton:hover {
 border: none
} 

#api{
	position:absolute;
	top: 330px;
    left: 760px;
}

.intro {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: whitesmoke;
    font-size: larger;
	padding: 0px 50px;	
}

#api ul li{
	display: block;
}